body,
html {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.page-headers--left {
  margin: 5px 5px;

  font-size: 3em;

  color: #808182;
}

.page-headers--right {
  margin: 5px 5px;

  font-size: 3em;

  color: #808182;
}
