.project-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 65px 10px;

  background-color: #4ba8ff;
  clip-path: polygon(0 3vw, 100% 0%, 100% 100%, 0% 100%);
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 65px 10px;

  background-color: #4ba8ff;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 100%);
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 65px 10px;

  background-color: #4ba8ff;
  clip-path: polygon(0 3vw, 100% 0%, 100% 100%, 0% 100%);
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 65px 10px;

  background-color: #4ba8ff;
  clip-path: polygon(0 0, 100% 3vw, 100% 100%, 0 100%);
}

.main-content {
  font-size: 1.3em;
  color: #fff;
}
