.App {
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

.gear-1 {
  animation: gear-1-spin infinite 20s linear;
  height: 38vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(45px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
  font-size: calc(25px + 2vmin);
}

.footer { 
  width: 100%;
  height: 100%;
}

@keyframes gear-1-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
